* {
	margin: 0;
	padding: 0;
	font-family: inherit;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none;
}

#topnav {
	background-color: #f6f7fb;
	padding: 10px 0;
}

#topnav div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#topnav div a {
	padding: 0 30px;
	padding-left: 0;
	color: #506a85;
}

#topnav div:not(:first-child) a {
	padding-left: 30px;
	padding-right: 0;
}

#topnav div a:hover {
	color: #111;
}

#topnav div a p {
	display: inline;
	padding: 0 10px;
}

a.icon {
	display: none;
	color: #506a85;
}

#navbar {
	background: #fff;
	position: sticky;
	top: 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	z-index: 999999;
}

#navbar div a {
	color: #506a85;
}

.logo a {
	font-size: 40px;
	font-weight: bold;
}

.menu {
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu a {
	padding: 10px;
	border-radius: 5px;
	transition: .2s;
}

.menu a:hover {
	background: #FFF000;
}

.search-icon a {
	padding: 20px;
	float: right;
}

.search-icon a:hover {
	background-color: #fff000;
}

#slider {
	background: url('../img/banner.jpg') no-repeat;
	padding: 300px 0;
}

#slider div {
	color: #fff;
}

#slider div h1 {
	font-size: 60px;
	font-weight: bold;
}

#slider div p {
	color: #a3b0c0;
	text-transform: none;
	padding: 20px 200px;
}

#slider div button {
	background-color: #00bb9c;
	border: none;
	color: #fff;
	padding: 25px 70px;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	transition: .2s;
}

#slider div button:hover {
	box-shadow: 0 0 10px 0 #fff;
}

#services {
	padding: 130px 0;
}

.services-top {
	color: #4e6c86;
}

.services-top p {
	padding: 10px 250px;
}

.services-bottom {
	padding: 80px 0;
}

.services-bottom div {
	padding: 20px;
}

.services-icon {
	width: 60px !important;
	color: #02bb9c;
	font-size: 60px;
	float: left;
	margin-right: 30px;
}

.services-bottom h4 {
	color: #4f6a88;
	font-weight: bold;
}

.services-bottom p {
	display: flex;
	color: #4f6a88;
}

#portfolio {
	background: #f3f4f8;
	padding: 130px 0;
}

.portfolio-top p {
	padding: 10px 0;
}

.portfolio-bottom {
	padding: 70px 0;
}

.portfolio-bottom div img {
	width: 100%;
	background: #fff;
}

.portfolio-bottom div div {
	background: #fff;
	width: 100%;
	padding: 20px 0;
}

.portfolio-bottom div div p {
	color: #4f6a88;
	font-size: 18px;
	font-weight: bold;
}

.portfolio-bottom div div span {
	color: #4f6a88;
}

.portfolio-bottom-bottom div img {
	width: 200px;
}

#features {
	padding: 120px 0;
}

#features div h1 {
	color: #4f6a88;
}

#features div p {
	color: #4f6a88;
	padding: 20px 300px;
}

#features div button {
	color: #fff;
	background: #00bb9c;
	border: none;
	outline: none;
	padding: 20px 25px;
	font-size: 16px;
	font-weight: bold;
	transition: .2s;
}

#features div button:hover {
	box-shadow: 0 0 10px 0 #000;
}

#mega-menu {
	background: #2f4052;
	padding: 120px 0;
}

#mega-menu div div div h5 {
	color: #fff;
	text-transform: uppercase;
}

#mega-menu div div div p {
	color: #a1b1c0;
}

.mm1 h1 {
	font-weight: bold;
	color: #fff;
	padding: 10px 0;
}

.mm1 a {
	color: #a1b1c0;
	font-weight: bold;
}

.mm2 div div {
	padding: 5px;
}

.mm2 div div img {
	width: 100%;
}

.mm-icon {
	color: #a1b1c0;
	float: left;
	margin: 5px 0;
}

.mm3 a {
	display: inline-block;
}

.mm3 a p {
	padding: 0 10px;
	float: left;
}

.mm4 form input[type=email] {
	width: 100%;
	padding: 15px 10px;
	background: #4f5c6d;
	border: none;
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-size: 12px;
	position: relative !important;
}

.mm4 form input[type=email]::placeholder {
	color: #a1b1c0;
}

.mm4 form input[type=submit] {
	background: #00bc9c;
	border: none;
	color: #fff;
	position: absolute;
	top: 100px;
	right: 20px;
	padding: 10px;
	font-size: 12px;
	border-radius: 5px;
}

.go-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.go-to-top-icon {
	color: #fff;
	background: #222;
	padding: 0 10px;
	font-size: 50px;
}

#footer {
	background: #293646;
	padding: 30px 0;
}

#footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer div div a {
	color: #a1b1c0;
}

.footer-menu span {
	color: #fff;
	padding: 0 20px;
}
